
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdministracion.cshtml";
}

@*<div class="container" style="margin: 0 auto; width: 90%">
        <div class="NombreSistema">
            <h1>Sistema de Control de Actividades</h1>
        </div>

    </div>*@

