
.pagination {
    padding: 20px;
}

    .pagination,
    .pagination * {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .pagination a {
            display: inline-block;
            padding: 0 10px;
            cursor: pointer;
        }

            .pagination a.disabled {
                opacity: 0.3;
                pointer-events: none;
                cursor: not-allowed;
            }

            .pagination a.current {
                background: #f3f3f3;
            }

